<h1>Volunteer Tracker</h1><br>

<h2>Selected Project:</h2>
<h3><a href="/project/<%= @project.id %>"><%= @project.title %></a><a class="btn" href="/project/<%= @project.id %>/edit">Edit Project</a></h3>

<br>
<div class="container">
  <a href="/"><button class="btn">Return Home</a>
</div>
