<h1>Volunteer Tracker</h1><br>

<h2>Selected Project:</h2>
<h3><%= @project.title %></h3><br>
<a class="btn" href="/projects/<%= @project.id %>/edit">Edit Project</a><br>

<div class="container">
  <a href="/"><button class="btn">Return Home</a>
</div>
